*
!.gitignore
!/images
!call-mom.jpg
!eat-candies.jpg
!fix-the-car-engine.jpg
!haircut.jpg
!make-a-cartoon.jpg
!mow-the-lawn.jpg
!play-golf.jpg
!play-poker.jpg
!set-alarm-clock.jpg
!steal-the-car.jpeg
!woman-vacuuming.jpg