.w-30 {
  width:38%;
  margin-bottom:2rem;
}
@media (max-width: 1100px) {
  .w-30 {
    width:50%;
  }
}
@media (max-width: 800px) {
  .w-30 {
    width:80%;
  }
}
@media (max-width: 600px) {
  .w-30 {
    width:100%;
  }
}
.w-60 {
  width:60%;
  margin-bottom:2rem;
}
@media (max-width: 1000px) {
  .w-60 {
    width:100%;
  }
}
.form-group {
  margin-top:10px
}
.me-auto {
  margin-left:10rem;
}

.list-sbm {
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-lbl {
  font-size: small;
}

.admin-menu {
  color:lightseagreen;
}

.admin-menu:hover{
  color:$primary;
}

.admin-menu-active, .admin-menu-active:hover{
  color:$primary;
}